@import "tailwindcss";

@media print {
  @page {
    margin: 20mm;
    /* Hides browser default header/footer */
    size: auto;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
